* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    line-height: 0;
}

.container > img {
    width: 100%;
}

.container-background {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1;
    padding: 20px 10px;
}


.container-background .container-userpic img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.container-background .container-text {
    width: 100%;
    color: white;
}

.container-background .container-text > * {
    margin: 0;
}

@media (max-width: 500px) {
    .container {
        box-shadow: none;
    }

    .container > img, .container .container-background .container-text {
        display: none;
    }

    .container .container-background {
        position: unset;
        padding: 0;
    }

    .container .container-background .container-userpic img {
        max-width: 40px;
        max-height: 40px;
    }
}
