* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-container {
    display: flex;
    flex-direction: column;
    width: 24%;
    gap: 1.5rem;
    padding: 0 0 0 1rem;
}

@media (max-width: 500px) {
    .user-container {
        background-color: #6D413F;
        border-radius: 15px 15px 0 0;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;   
        padding: 20px;
        flex-direction: row-reverse;
    }

    .user-container  user-menu {
        width: 100%;
    } 
}