
.post--container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F9F5F3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.post--header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #F9F5F3;
}

.club-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.club-info h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color:  #6471c7;
    cursor: pointer;    
}

.post-image {
    width: auto;
    height: 600px;
}

.post--body {
    padding: 10px;
}

.post--info {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.post--info .likes, .post--info .comments {
    font-size: 18px;
    color: #8e8e8e;
}

.post--info .likes i, .post--info .comments i {
    margin-right: 5px;
}

.post--author h3 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.post--author p {
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #262626;
}


.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 500px;
    max-width: 500px;
    margin-left: 10px;
}

.input-wrapper-inputtext {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    background-color: #F1E8E3;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 500px;
    margin-left: 70px;
}

.input-wrapper-inputtext i {
    margin-right: 0.5rem;
    font-size: 12px;
}

.input-wrapper-inputtext input {
    background: transparent;
    border: none;
    color: #322316;
    font-size: 12px;
    width: 100%;
    outline: none;
}

.input-wrapper-inputtext button {
    overflow: hidden;
}

.comments-list {
    margin-top: 12px; 
    width: 100%;
    max-height: 150px; 
    overflow-y: auto; 
    background-color: #F9F5F3; 
    border-radius: 10px;
    padding: 10px;
}

.comments-list p {
    margin: 5px 0; 
    padding: 8px;
    border-radius: 8px; 
    color: #322316; 
    font-size: 12px; 
}


.likes {
    display: flex;
    align-items: center;
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.liked {
    color: blue; 
}
