* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-userpic {
    display: flex;
    align-items: center;
}

.container-userpic img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}